# Docker build context allowlist for this project. We use a whitelist approach to ensure that only necessary files
# are included in the Docker build context, which can help reduce build times and improve security by excluding
# sensitive or unnecessary files.

*

!package.json
!pnpm-lock.yaml
!.npmrc
!nuxt.config.ts
!i18n.config.ts
!tsconfig.json

!.dockerignore
!Dockerfile

!app/
!app/**

!public/
!public/**

!server/
!server/**

!shared/
!shared/**
