# --- Server-side secrets (not exposed to client)

# Admin Credentials (defaults to admin / 123)
NUXT_ADMIN_USERNAME=
NUXT_ADMIN_PASSWORD=

# JWT Secret for Admin Authentication (defaults to tryUJ0zQbstPbTOrezme+Fv+KndzDNRx5lmSeelr2ial2/2yV8HqLeQ2felJafqf)
NUXT_JWT_SECRET=

# --- Public configuration (available on both client and server)

# WebSocket URL for client connections (defaults to current host)
# NUXT_PUBLIC_WS_URL=ws://localhost:3000

# API URL for client requests (defaults to current host)
# NUXT_PUBLIC_API_URL=http://localhost:3000

# Server Configuration
# NUXT_PUBLIC_HOST=0.0.0.0
# NUXT_PUBLIC_PORT=3000

# Show debug (defaults to false / false)
# NUXT_PUBLIC_DEBUG_SHOW_WEBSOCKET_CONNECTIONS_IN_FRONTEND=false
# NUXT_PUBLIC_DEBUG_SHOW_CONSOLE_OUTPUTS=false

# Emoji-Sent Cooldown in Milliseconds (defaults to 1500)
NUXT_PUBLIC_EMOJI_COOLDOWN_MS=
